<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.capsa.corrie.languagemanager.langProvider" name="com.capsa.corrie.languagemanager.langProvider" schema="schema/com.capsa.corrie.languagemanager.langProvider.exsd"/>
   <extension-point id="com.capsa.corrie.languagemanager.languages" name="com.capsa.corrie.languagemanager.languages" schema="schema/com.capsa.corrie.languagemanager.languages.exsd"/>
   <extension-point id="com.capsa.corrie.languagemanager.defaults" name="com.capsa.corrie.languagemanager.defaults" schema="schema/com.capsa.corrie.languagemanager.defaults.exsd"/>

</plugin>
