<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.handrianj.corrie.sessionmanager.sessiondelegate" name="org.handrianj.corrie.sessionmanager.sessiondelegate" schema="schema/org.handrianj.corrie.sessionmanager.sessiondelegate.exsd"/>

</plugin>
