<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.handrianj.corrie.main.defaultLaunch" name="com.handrianj.corrie.main.defaultLaunch" schema="schema/com.handrianj.corrie.main.defaultLaunch.exsd"/>

   <extension
         id="capsa.corrie.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.handrianj.corrie.main"
            id="corrie.entrypoint"
            path="/">
      </entrypoint>
   </extension>
   <extension
         id="com.handrianj.corrie.main"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.handrianj.corrie.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.handrianj.corrie.main.InitPerpective"
            id="com.handrianj.corrie.main.InitPerpective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="com.handrianj.corrie.languagemanager.defaults">
      <DefaultLanguage
            LanguageProviderClass="com.handrianj.corrie.main.lang.MainLang">
      </DefaultLanguage>
   </extension>

</plugin>
