<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.capsa.corrie.languagemanager.defaults">
      <DefaultLanguage
            LanguageProviderClass="com.handrianj.corrie.utilsui.dialog.lang.DialogsLang">
      </DefaultLanguage>
   </extension>

</plugin>
