<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.handrianj.corrie.overview.menuItem" name="com.handrianj.corrie.overview.menuItem" schema="schema/com.handrianj.corrie.overview.menuItem.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.handrianj.corrie.overview.ui.Overview"
            id="com.handrianj.corrie.overview.ui.overview"
            name="Overview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.handrianj.corrie.viewsmanager.perspectives.DefaultMenuPerspective">
         <view
               closeable="false"
               id="com.handrianj.corrie.overview.ui.overview"
               minimized="false"
               moveable="false"
               ratio="0.1"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.handrianj.corrie.viewsManager.view">
      <view
            PerspectiveID="com.handrianj.corrie.viewsmanager.perspectives.DefaultMenuPerspective"
            ViewID="com.handrianj.corrie.overview.ui.overview">
      </view>
   </extension>
   <extension
         point="com.handrianj.corrie.languagemanager.defaults">
      <DefaultLanguage
            LanguageProviderClass="com.handrianj.corrie.overview.lang.OverviewLang">
      </DefaultLanguage>
   </extension>

</plugin>
